  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f0f0;
  }

  .container {
    display: flex;
    min-height: 100vh;
  }

  .sidebar {
    width: 220px;
    position: fixed;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 12px;
  }

  .sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    font-size: 14px;
  }

  .sidebar a.active,
  .sidebar a:hover {
    background-color: #a4e4b3;
  }

  .avatar {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .main {
    flex: 1;
    margin-left: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .topbar img {
    height: 60px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }

  .dropdown-btn {
    background-color: #a4e4b3;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    margin-top: 5px;
  }

  .dropdown-content div {
    padding: 10px;
    cursor: pointer;
  }

  .dropdown-content div:hover {
    background-color: #f0f0f0;
  }

  .chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    min-height: 100vh;
  }

  .cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .card {
    background-color: #b2f2bb;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
  }

  .chart-placeholder {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .chart-box {
    width: 48%;
  }

  .flex-column-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .table-controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .table-controls select,
  .table-controls input {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 13px;
  }

  .table-controls button {
    background-color: #a4e4b3;
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 13px;
  }

  .table-controls button:hover {
    background-color: #a4e4b3;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #e2e8f0;
  }

  th:first-child,
  td:first-child {
    width: 50px;
  }

  th,
  td {
    text-align: left;
  }

  td,
  th {
    white-space: nowrap;
    overflow: visible;
    text-overflow: unset;
    max-width: unset;
    vertical-align: middle;
  }

  td:nth-child(2),
  td:nth-child(5) {
    max-width: 200px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: gray;
  }

  .pagination-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
  }

  .pagination-buttons button.active {
    background-color: #a4e4b3;
    border: none;
    color: white;
  }

  .button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
  }

  .button-group a,
  .button-group button {
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    background-color: #a4e4b3;
    color: black;
    text-decoration: none;
    border: none;
    width: auto;
    max-width: 200px;
  }

  .cancel-btn {
    background-color: #a4e4b3;
  }

  .add-btn {
    background-color: #a4e4b3;
  }

  input[type="text"]::placeholder {
    color: #000;
  }

  .action-buttons {
    display: flex;
    gap: 4px;
    margin-left: 0;
    align-items: center;
    justify-content: flex-start;
  }

  .action-buttons button {
    background-color: #a4e4b3;
    color: white;
    border: none;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 4px;
    cursor: pointer;
    font-size: 12px;
  }

  .action-buttons img {
    height: 16px;
  }

  .action-buttons button.delete {
    background-color: #e63946;
  }

  .action-buttons button.detail {
    background-color: #ffdf57;
  }

  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 10F00px;
    margin-top: 10px;
    flex: 1;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .form-group.small-width {
    max-width: 400px;
  }

  .form-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form-header::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 20px;
    background-color: #a4e4b3;
  }

  .form-group {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .form-item label {
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
  }

  .form-row {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .g-form-group {
    margin-bottom: 20px;
  }

  .g-form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
  }

  .g-form-group select,
  .g-form-group input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  select,
  input[type="text"],
  input[type="time"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
  }

  select {
    appearance: none;
    background-image: url('../img/image/arrowdown.png');
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: center;
    background-size: 16px;
  }

  select,
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
  }

  .date-wrapper {
    position: relative;
  }

  .date-wrapper input[type="date"] {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .date-wrapper .date-placeholder {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none;
    font-size: 14px;
    background-color: white;
    padding: 0 4px;
    transition: 0.2s;
    z-index: 1;
    font-family: Arial, sans-serif;
    font-weight: normal;
  }

  .date-wrapper input:focus+.date-placeholder,
  .date-wrapper input:valid+.date-placeholder {
    opacity: 0;
    visibility: hidden;
  }

  .pkp-add-btn {
    padding: 8px 20px;
    background-color: #a4e4b3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    height: 38px;
  }

  .alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c3e6cb;
    font-weight: 500;
  }

  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f5c6cb;
    font-weight: 500;
  }

  .alert-success,
  .alert-error {
    transition: opacity 0.5s ease-out;
  }

  /* ADMIN */
  /* jadwal mengajar tambah&edit */
  .jm-time-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .jm-time-group {
    flex: 1;
  }

  .jm-time-separator {
    font-size: 14px;
    padding: 0 3px;
  }

  /* kelola pengguna */
  .kp-status-toggle {
    display: inline-flex;
    border-radius: 5px;
    overflow: hidden;
    width: 130px;
    margin: 0 auto;
  }

  .kp-status-toggle button {
    flex: 1;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s;
  }

  .kp-status-toggle button.active {
    background-color: #4CAF50;
    color: white;
  }

  .kp-status-toggle button.inactive {
    background-color: #f44336;
    color: white;
  }

  /* kehadiran admin */
  .ka-topbar img {
    height: 60px;
  }

  .ka-form-container {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }

  .ka-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .ka-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }

  .ka-form-item {
    flex: 1 1 48%;
    min-width: 200px;
  }

  .filter-item {
    margin-bottom: 16px;
  }

  .ka-button-row {
    display: flex;
    justify-content: flex-end;
  }

  .ka-add-btn {
    padding: 10px 20px;
    background: #a4e4b3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    height: fit-content;
  }

  /* kehadiran admin detail */
  .kd-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .kd-form-row {
    display: flex;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
  }

  .kd-form-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
  }

  .kd-documentation-link {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background: white;
  }

  .kd-documentation-link:hover {
    text-decoration: underline;
  }

  .kd-button-row {
    display: flex;
    justify-content: flex-end;
  }

  /* kinerja guru */
  .kg-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .kg-form-row {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .kg-form-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 100px;
    max-width: 150px;
  }

  /* dashboard guru dan yayasan (topbar & dropdown) */
  .gy-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .gy-dropdown {
    position: relative;
  }

  .gy-dropdown-btn {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #a4e4b3;
    cursor: pointer;
    border-radius: 4px;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .gy-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 140px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .gy-dropdown-content div {
    padding: 8px 12px;
    cursor: pointer;
  }

  .gy-dropdown-content div:hover {
    background-color: #f0f0f0;
  }

  /* GURU */
  .gd-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .gd-card {
    background-color: #b2f2bb;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    flex: 1 1 200px;
    min-width: 100px;
    max-width: 300px;
    height: 150px;
  }

  .gd-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .gd-card p {
    font-size: 16px;
    color: #333;
  }

  /* kehadiranG */
  .gkg-button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .gkg-button-group button {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    background-color: #a4e4b3;
    color: black;
    border: none;
    transition: background-color 0.3s ease;
    width: auto;
    min-width: 150px;
  }

  .gkg-button-group button:hover {
    background-color: #a4e4b3;
  }

  .gkg-kelas-btn {
    background-color: #a4e4b3;
    color: black;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 150px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }

  .gkg-kelas-btn:hover {
    background-color: #8ed5a2;
    text-decoration: none;
  }

  .kelas-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .kelas-card {
    background-color: #a4e4b3;
    border-radius: 16px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .kelas-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .kelas-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .kelas-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .kelas-icon-btn {
    width: 36px;
    height: 36px;
    background-color: #d0f0c0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .kelas-icon-btn img {
    width: 18px;
    height: 18px;
  }

  .kelas-icon-btn:hover {
    background-color: #ddd;
  }

  .gkg-label {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  /* gkg input */

  .dk-form-row {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .dk-form-item input[type="date"] {
    width: 200px;
    max-width: 100%;
  }

  .dkk-form-row {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 4px;
  }

  .dkk-form-row label {
    width: 140px;
    font-weight: normal;
  }

  .dkk-form-item select,
  .dkk-form-item input[type="date"] {
    width: 260px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .gki-main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .gki-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .gki-topbar img {
    height: 60px;
  }

  .gki-form-container {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gki-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gki-form-row {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .gki-form-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
  }

  .gki-info-box {
    padding: 10px;
    border-radius: 6px;
    background-color: #f0f0f0;
    font-size: 14px;
  }

  .gki2-info-box {
    padding: 10px;
    border-radius: 6px;
    background-color: #f0f0f0;
    font-size: 14px;
  }

  .gki-info-box.green {
    background-color: #a4e4b3;
    font-weight: bold;
    width: 100px;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .gki-custom-file-upload {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: white;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    width: 100%;
    transition: background-color 0.3s;
  }

  .gki-custom-file-upload:hover {
    background-color: #f9f9f9;
  }

  .gki-upload-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .gki-upload-label-content svg {
    fill: #555;
  }

  .gki-status-wrapper {
    display: flex;
    width: 150px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
  }

  .gki-status-left,
  .gki-status-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-right: 1px solid #ccc;
  }

  .gki-status-left {
    background-color: #4CAF50;
    color: black;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .gki-status-right {
    background-color: white;
    color: black;
    border-right: none;
  }

  .gki-status-wrapper.alfa .gki-status-left {
    background-color: white;
    color: #333;
  }

  .gki-status-wrapper.alfa .gki-status-right {
    background-color: #f44336;
    color: black;
  }

  .gki-button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
  }

  .gki-button-group button {
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }

  .gki-input-btn {
    background-color: #a4e4b3;
    border: none;
  }

  .gki-input-btn:hover {
    background-color: #8cd4a0;
  }

  /* hafalan santri G (input) */
  .hsi-ayat-range {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: left;
  }

  .hsi-ayat-range input {
    width: 50px;
    padding: 6px 8px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .hsi-ayat-range span {
    font-size: 14px;
  }

  /* YAYASAN */
  .y-dropdown {
    position: relative;
    display: inline-block;
  }

  .y-dropdown-btn {
    background-color: #a4e4b3;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .y-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    margin-top: 5px;
  }

  .y-dropdown-content div {
    padding: 10px;
    cursor: pointer;
  }

  .y-dropdown-content div:hover {
    background-color: #f0f0f0;
  }

  .y-button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    width: 150%;
  }

  .y-cabang-btn {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    background-color: #a4e4b3;
    color: black;
    border: none;
    transition: background-color 0.3s ease;
    width: auto;
    min-width: 150px;
  }

  .y-cabang-btn:hover {
    background-color: #a4e4b3;
  }

  .y-form-group.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .y-label {
    font-weight: bold;
    font-size: 16px;
  }

  /* KategoriNilai Y */
  .kny-form-container {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .kny-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .kny-form-row {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .kny-form-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
  }

  .kny-info-box {
    padding: 10px;
    border-radius: 6px;
    background-color: #f0f0f0;
    font-size: 14px;
  }

  .kny-info-box.green {
    background-color: #a4e4b3;
    font-weight: bold;
  }

  .kny-button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
  }

  .kny-button-group button {
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }

  .kny-input-btn {
    background-color: #a4e4b3;
    border: none;
  }

  .kny-input-btn:hover {
    background-color: #8cd4a0;
  }

  .kny-penilaian {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .kny-penilaian label {
    font-weight: bold;
  }

  .kny-penilaian div {
    display: flex;
    gap: 15px;
  }

  .kny-container-penilaian {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 12px;
    margin-top: 10px;
  }

  .kny-penilaian-inner {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }

  .radio-group {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 5px;
  }

  .radio-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .radio-option input[type="radio"] {
    margin-bottom: 4px;
  }


  /* Detail */
  .dt-body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 2rem;
  }

  .dt-card {
    background: white;
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  .dt-card h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #111;
  }

  .dt-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .dt-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.25rem 0.5rem;
  }

  .dt-label {
    font-weight: 600;
    color: #000;
    font-weight: bold;
  }

  .dt-value {
    color: #222;
  }

  .dt-badge {
    background-color: #ffdf57;
    color: #000;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    font-size: 0.85rem;
    font-weight: bold;
  }

  /* Sidebar guru dan yayasan */
  .gy-sidebar {
    width: 220px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
  }

  .gy-sidebar-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .gy-sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
  }

  .gy-sidebar a.active,
  .gy-sidebar a:hover {
    background-color: #a4e4b3;
  }

  /* kelola pengguna */
  .kpa-form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .kpa-form-group label {
    width: 200px;
    font-weight: bold;
  }

  .kpa-form-group input,
  .kpa-form-group select {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  /* login */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
  }

  .lr-container {
    background: url('../img/bg-login.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lr-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }

  .logo {
    width: 80px;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h2 span {
    font-weight: normal;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .show-password {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px 0;
  }

  .show-password input {
    margin-right: 5px;
  }

  .lr-button {
    background-color: #9dedb1;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .lr-button:hover {
    background-color: #8edfa7;
  }

  .box-pagination-left {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    gap: 2px;
    flex-wrap: wrap;
  }

  .page-box-small {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #6BCB77;
    border-radius: 4px;
    background-color: #DFF5E1;
    color: #2E7D32;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
  }

  .page-box-small:hover {
    background-color: #6BCB77;
    color: white;
  }

  .page-box-small.active {
    background-color: #6BCB77;
    color: white;
    pointer-events: none;
  }

  .page-box-small.disabled {
    background-color: #E0E0E0;
    color: #9E9E9E;
    pointer-events: none;
  }